.body-main {
    text-align: center;
    margin: 10px 40px 10px 40px;
}

.example-card {
    max-width: 400px;
}
  
.example-card-footer {
    padding: 16px;
}

.componentEstadosSubestados{
    margin-top: 30px;
}